---
import { Drag } from "../components/drag";
import { Home } from "../components/Home"
import { Menu } from "../components/Menu";
import { Project } from "../components/Projects";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Main</title>
	</head>
	<body id="main-root" class="container bg-main h-[100vh] w-[100vw]">
		<!-- <Menu client:only="React"/> -->
		<!-- <div id="root"></div> -->
		<!-- <Drag client:only="React"/> -->
		<Home client:only="React"/>
		<Project client:only="React" />
	</body>
</html>
